<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CSIR Quarters Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="container1 d-flex align-items-center justify-content-between w-100">

            <!-- Left logo + text -->
            <div class="d-flex align-items-center">
                <img src="@Url.Content("~/Content/Images/CSIR-Logo.jpg")" alt="CSIR Logo"
                     style="height:120px; width:auto; margin-right:20px;" />

                @Html.ActionLink("Quarters Management Admin Portal", "Index", "Login", new { area = "" }, new { @class = "navbar-brand mx-3", style = "font-size: 1.25rem;" })

            </div>

            <!-- Center: Quarters Management link -->

            <p class="text2 mb-0" style="color:white; font-size: 1.25rem; line-height: 1.4;">
                CSIR - Central Leather Research Institute
            </p>


            <!-- Right: right logo + logout button -->

           

            <div class="d-flex align-items-center">
                <img src="@Url.Content("~/Content/Images/CLRI-logo.png")" alt="CLRI Logo"
                     style="height:120px; width:auto; margin-right:20px;" />


            </div>

        </div>
    </nav>


    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - All rights reserved, CSIR-CLRI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>